/* style.css */

/* Set the background color of the whole document */
body {
  background-color: #00b3e6; /* light blue */
}

/* Style the <div> elements */
div {
  width: 700px;
  margin: auto; /* centers the element */
  font-family: "Helvetica Neue";
  background-color: white;
  padding: 30px;
}

/* Style the element with the id of #main-header */
#main-header {
  font-size: 22px;
}

/* Style the elements with the class of .perspective-questions */
.perspective-questions {
  font-style: italic;
}
